@import './reset.scss';
@import './props.scss';

//@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  background: $color-6;
  color: $color-10;
  overflow: hidden;
}

.scroll-y {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

  & >div:last-child {
    margin-bottom: 10em;
  }
}
.scroll-y::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.h1 {
  margin: 1em 0;
}

.sub {
  font-size: 14px;
  color: $color-2;
  line-height: 0.4;
}

.link {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5em;
  overflow: initial;
  color: $color-10;
  transition: color .3s;

  &:hover {
    color: lighten($color-10, 10%);
  }
}

.pt1 {
  padding-top: 1em;
}
.pb1 {
  padding-bottom: 1em;
}
.mt1 {
  margin-top: 1em;
}
.mb1 {
  margin-bottom: 1em;
}